.FormContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .FormWrap {
    background-color: white;
    border-radius: 0px;
    padding: 20px 60px;
    display: flex;
      flex-direction: column;
      gap: 15px;
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      input{
        padding: 15px;
        border: none;
        border-bottom: 1px solid #888888;
        outline: none;
        &::placeholder{
            color: #888888;
            font-size: 12px;
        }
      }
      button{
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      .FileInput{
        display: none;
      }
      .ImgInput{
        color: #888888;
        font-size: 12px;
        text-align: left;
        padding: 15px;
      }
    }
    .logo{
        color: #00000080;
        font-weight: bold;
        font-size: 24px;
    }
    .title{
        color: #999999;
        font-size: 12px;
    }
  }
}
.Home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .Container{
        border: 1px solid white;
        width: 65%;
        height: 80%;
        display: flex;
    }
}